<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml --> 
<ParametriDiConfigurazioneXML portaServerLog="8080" ipClient="127.0.0.1" ipServerLog="127.0.0.1" numeroRighe="10">
    <font>Calibri</font>
    <dimensioneFont>16.0</dimensioneFont>
    <dimensioni>
        <double>1300.0</double>
        <double>1000.0</double>
    </dimensioni>
    <altezzaRiga>30</altezzaRiga>
    <spaziatura>10</spaziatura>
    <dimensioneTitolo>12</dimensioneTitolo>
    <dimensioneLabel>3</dimensioneLabel>
    <coloreSfondo>ALICEBLUE</coloreSfondo>
</ParametriDiConfigurazioneXML> 
